.header {
  background-color: $color-default-white;

  .container {
    min-height: 72px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header__logo {
  margin-top: 4px;
  margin-right: 15px;

  transition: opacity $trans-default;

  svg {
    width: 196px;
    height: 52px;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.5;
    }
  }
}

.header__navlist {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.header__navitem {
  &:not(:last-child) {
    margin-right: 32px;

    @include vp-1023 {
      margin-right: 22px;
    }
  }
}

.header__navlink {
  font: 500 16px/24px $ff-inter;
  letter-spacing: 0.3px;
  color: $color-default-black-87;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
